













.block {
	display: block;
	margin: 0.5em;
}

.italics { font-style: italic; }
.center { text-align: center }
.mr-s { margin-right: 4px }
.mb-s { margin-bottom: 20px }
.mt { margin-top: 30px }
.mr { margin-right: 60px }
.mb { margin-bottom: 200px }
.flt-r { float: right; }
.flt-l { float: left; }
.d-ib { display: inline-block; }
small {
	font-size: 0.7em;
	color: grey;
}
em {
	color: steelblue;
	text-decoration: underline;
	cursor: help;
}
.add-col { color: steelblue; cursor: pointer; }
.add-col:hover { text-decoration: underline; }

/* Forms */

form { clear: both; }
label, input { display:block; }
/* chosen */
.chosen-container { width: 95% !important; margin-bottom: 20px; }
input[type="checkbox"] {display: inline-block;}
input.text { margin-bottom:3px; width:95%; padding: .2em; }
.search-bar { padding: 0.2em; width: 70%; border-radius: 5px; display: inline-block; margin: 0 10px 10px 0 }
.input-short { padding: 0.2em; width: 25%; border-radius: 5px; display: inline-block; margin: 0 10px 10px 0 }
fieldset { padding:0; border:0; margin-top:15px; }
.validateTips { border: 1px solid transparent; padding: 0.3em; border-radius: 4px}

.width-long { width: 60%; display: inline-block; }


[data-edit] {
	color: steelblue;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
h1 {
	display: inline-block;
}

.hover {
	transition: text-shadow 0.5s, color 0.5s;
}

.hover:hover {
	color: steelblue;
	text-shadow: 0 0 10px gold;
}

.edit-field:hover {
	text-decoration: underline;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


/* Tables */

[data-sorter] {
	cursor: pointer;
}

.table th {
	font-weight: bold;
	padding: .25em 1.5em;
	border-bottom: 3px double grey;
}
.table td {
	border-right: 1px solid grey;
	text-align: center;
	padding: 0.1em 0.2em;
}

.table tr td:last-child {
	border: none;
}

/* Search Form */
.adv-search-fields {
	display: none;
}
.adv-search-btn {
	color: steelblue;
	cursor: pointer;
}
.adv-search-btn:hover {
	text-decoration: underline;
}


