/* Main Styles */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

/* element styles */ 

.link {
	color: steelblue;
	text-decoration: underline;
	cursor: pointer;
}

.link:hover {
	color: purple;
}

h2 {
	margin: 0;
	border: none;
}

small {
	font-size: 80%;
	color: grey;
}

button {
	padding: 4px;
	margin: 4px;
}


/* Table */

th, td {
	padding: 2px 6px;
	text-align: center;
}
th {
	border-bottom: 4px double;
	font-weight: bold;
}
td {
	border-right: 1px solid;
	vertical-align: top;
}
tr td:last-child {
	border: none;
}

/* Forms */

input, select, textarea {
	padding: 2px;
	margin: 3px;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

input, select {
	border-bottom-right-radius: 8px;
}

input[disabled] {
	background: grey;
}

input.full {
	width: 100%;
	display: block;
}

.edit-field {
	width: 80%;
}


/* bites */

.ml { margin-left: 1em;}






